.service-item{
    text-align: center;
    padding: 30px;
    border: 1px solid skyblue;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin: 20px 0;
}
.service-item img{
    height: 90px;
    width: 90px;
}
.service-item h2 {
    padding: 20px 0 15px 0;
    font-size: 28px;
    color: #fff;
    opacity: 0.9;
}
.service-item p{
    color: #fff;
    opacity: 0.8;
    font-size: 16px;
    padding-bottom: 8px;
    line-height: 22px;
}
.service-item a{
    font-size: 16px;
    font-weight: 600;
    color: #111;
    background-color: skyblue;
    text-align: start;
    padding: 10px 35px;
    margin-right: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}