*{
    margin: 0 ;
    padding: 0 ;
    font-family: Poppins;
}
svg{
    vertical-align: unset !important;
}
body{
    background: #111 !important;
}
ul{
    list-style: none;
    padding: 0 !important;
}

